.perfil
{
    margin-top: 10%;
    justify-content: center;
}

@media only screen and (max-width: 991px) 
{
    .perfil
    {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 576px) 
{
    .perfil
    {
        margin-top: 30%;
    }
}