.login-form
{
    margin-top: 10%;
    justify-content: center;
}

@media only screen and (max-width: 991px) 
{
    .login-form
    {
        margin-top: 25%;
    }
}

@media only screen and (max-width: 576px) 
{
    .login-form
    {
        margin-top: 30%;
    }
}